<nav class="site-nav" role="navigation">
    <ul class="nav-list">
    {%- for entry in collections.all | eleventyNavigation -%}
        <li class="nav-item">
            <a href="{{ entry.url }}" class="nav-link{% if page.url == entry.url %} nav-link--current{% endif %}">{{ entry.title }}</a>
        </li>
    {%- endfor -%}
    </ul>
</nav>