---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">

<p>Halo! I’m a machine learning engineer currently based in Berlin, Germany.
When not sitting in front of my computer, you can find me <a href="https://galuh.myportfolio.com">on the streets with my camera</a> or <a href="https://galuh.myportfolio.com/sketches-1">a sketchbook</a> or both.
I also enjoy hiking and I try to tackle one long distance hike per year.</p>

<p>I enjoy collecting experiences & knowledge, & I’m mostly driven by a boundless (and sometimes foolish)
curiosity & desire to make sense of the world so that I can solve the problems that I’m interested in.
The dots might not connect now but I believe (or hope) that someday they will.</p>

<a href="https://notes.velouria.dev">Notes</a> &dot; <a href="https://galuh.myportfolio.com">Photography portfolio</a> &dot; <a href="https://git.velouria.dev/gal">Gitea</a> &dot; <a href="https://linkedin.com/in/galuhsahid">LinkedIn</a>



<p><h3>Selected publications and talks</h3></p>

<p>
2023 &dot; <a href="https://vimeo.com/883205997/be5b5cd9a4">1st winner: Space for International Development & Humanitarian Aid</a> &dot; 
<i>CASSINI Hackathon Germany, Munich 🇩🇪</i>
</p>

<p>
2021 &dot; <a href="https://speakerdeck.com/galuhsahid/clip-indonesian">CLIP model trained on Indonesian data</a> &dot; 
<i>PyCon ID  🇮🇩</i>
</p>

<p>
2020 &dot; <a href="https://speakerdeck.com/galuhsahid/a-whirlwind-tour-of-machine-learning-with-tensorflow/">(Keynote) A whirlwind tour of machine learning with Tensorflow</a> &dot; 
<i>Women Techmakers - International Women’s Day 2020</i>
</p>

<p>
2020 &dot; <a href="https://gdg.community.dev/events/details/google-gdg-kuala-lumpur-presents-wtm-devfest-kuala-lumpur-singapore-2020/">BERT for Text Classification with Keras/Tensorflow 2</a> &dot; 
<i>WTM DevFest Kuala Lumpur 🇲🇾 & Singapore 🇮🇩</i>
</p>


<p>
2020 &dot; <a href="https://www.loket.com/event/belajar-bareng-team-data-science-gojek_p41U">Build your own image classifier with machine learning</a> &dot; 
<i>Gojek, Jakarta 🇮🇩</i>
</p>

<p>
2020 &dot; <a href="https://www.youtube.com/watch?v=CY0RiwpG9TM">Start-up coffee chat: machine learning</a> &dot; 
<i>Google Developers Space, Singapore 🇸🇬</i>
</p>

<p>
2019 &dot; <a href="https://dl.acm.org/doi/10.1145/3326467.3326486">E-commerce merchant classification using website information</a> &dot; 
<i>9th International Conference on Web Intelligence, Mining and Semantics, Seoul 🇰🇷</i>
</p>

<p>
2019 &dot; <a href="https://speakerdeck.com/galuhsahid/devfest-machine-learning-on-the-web/">Introduction to word embeddings</a> &dot; 
<i>PyCon CZ, Ostrava 🇨🇿</i>
</p>

<p>
2019 &dot; <a href="https://speakerdeck.com/galuhsahid/devfest-machine-learning-on-the-web/">Machine learning on the web</a> &dot; 
<i>DevFest Brunei 🇧🇳, Yangon 🇲🇲, Singapore 🇸🇬</i>
</p>

<p>
2018 &dot; <a href="https://speakerdeck.com/galuhsahid/building-command-line-tools-and-dashboards-with-javascript/">Building command-line tools and dashboards with JavaScript</a> &dot; 
<i>ScotlandJS, Edinburgh 🏴󠁧󠁢󠁳󠁣󠁴󠁿</i>
</p>

<p>
2017 &dot; <a href="https://ieeexplore.ieee.org/document/8355046">Estimating the collected funding amount of the social project campaigns in a crowdfunding platform</a> &dot; 
<i>2017 International Conference on Advanced Computer Science and Information Systems (ICACSIS), Jakarta  🇮🇩</i>
</p>
